body {
    background-color: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

ul, ol {
    font-size: 1.2rem;
    line-height: 1.6;
}

.cercle {
    list-style-type: circle;
}

.carre {
    list-style-type: square;
}

.rien {
    list-style-type: none;
}

.commence_a_zero {
    list-style-type: decimal-leading-zero;
}

.lettres_minuscules {
    list-style-type: lower-alpha;
}

.chiffres_romains {
    list-style-type: upper-roman;
}

.lettres_grecques {
    list-style-type: lower-greek;
}
